@import url('https://fonts.googleapis.com/css?family=Muli');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
body{
  font-family: 'Muli', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.sizeSel{
  text-align: left;
  bottom: 10px;
  left: 20px;
  position: fixed;
}

h2{
  font-family: 'Fredoka One', cursive;
  font-weight: lighter;
  font-size: 35px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.fa{

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ToDoInput{
  width: 500px;
  padding: 20px;
  margin: 20px auto;
  background-color: #f2f2f2;
  border-radius: 10px;
  text-align: center;
}

.eachItem{
    transition: all 0.15s ease-out;
  margin: 10px;
    margin-left: 0;
  padding: 10px;
  border: 0px;
  border-bottom: .5px solid #FF8800;
  transition: all 0.15s ease-out;
}

.eachItem:focus{
  border-bottom: .5px solid #00C851;
  background-color: #ccffe0;
  transition: all 0.15s ease-out;
}


input{
  margin: 5px;
  padding: 5px;
}

.del{
    transition: all 0.15s ease-out;
  color: red;
  display: inline;
  cursor: pointer;
}

.btn {
  margin: 5px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  background: #33b5e5;
  padding: 6px 10px 6px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.stateVis{
  font-family: 'Inconsolata', monospace;
}

.current-state{
  padding-left: 30px;
  color: #CC0000;
}
.current-state-list{
  padding-left: 30px;
  color: #007E33;
}

.drag{
  text-align: right;
  color: grey;
  font-size: 12px;
}

.example{
  border-top: 4px solid #33b5e5;
  border-bottom: 4px solid #ffbb33;
  cursor: grab;
  background-color: #f2f2f2;
  padding: 20px;
  position: absolute;
  left: 10px;
  top: 10px;
  display: inline-block;
  text-align: justify;
}

.toDoListUnordered{
    transition: all 0.15s ease-out;
  list-style: decimal;
  padding: 20px;
  text-overflow: ellipsis;
  max-width: 100%;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}

.flex{
    transition: all 0.15s ease-out;
    display: flex;
    vertical-align: middle;
    align-items: center;
}
