.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ToDoInput{
  width: 400px;
  padding: 20px;
  margin: 20px auto;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.eachItem{
  margin: 10px;
    margin-left: 0;
  padding: 10px;
  border: 0px;
  border-bottom: .5px solid black;
}

input{
  margin: 5px;
  padding: 5px;
}

.del{
  color: red;
  display: inline;
  cursor: pointer;
}

.btn {
  margin: 5px;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  background: #3498db;
  padding: 6px 10px 6px 10px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.toDoListUnordered{
  list-style: decimal;
  padding: 20px;
  width: 200px;
  text-overflow: ellipsis;
  overflow-x: auto;
  margin: 0 auto;
  text-align: justify;
}

.flex{
    display: flex;
    vertical-align: middle;
    align-items: center;
}
